body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d9534f;
}

#root {
  padding: 4rem 0;
}

.ui.header {
  color: white;
  text-shadow: 2px 2px 3px black;
}

a {
  color: white;
}
